@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: teal;
  font-family: 'JetBrains Mono', monospace;
}

.ingreso {
  background-color: aquamarine;
  width: 70%;
  height: 60%;
}

table, tr, td{
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  border-color: black;
}
tr {
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  border-color: black;
}

td, th {
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  border-color: black;
}