body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: teal;
  font-family: 'JetBrains Mono', monospace;
}

form {
  background-color: green;
  width: 70%;
  height: 60%;
}
